/**FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
/**-----RESET-----*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif; }

/**------BOOSTRAP-----*/
header nav img {
  width: 60px;
  height: 60px; }

.home-call-to-action-slider::before {
  background-color: rgba(0, 0, 0, 0.6); }

.home-call-to-action-slider .home-cta-slider-content {
  color: #ffffff; }

.destacados .cards .card {
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; }

.destacados .cards .card .card-content {
  padding: 23px;
  text-align: center; }

.destacados .cards .card img {
  width: 100%;
  height: 330px;
  object-fit: cover; }

/* BOTON */
.boton:hover {
  background-color: #b38e5e; }

/* BOTON */
.boton:hover {
  background-color: #b38e5e; }

.boton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.5s ease; }
  .boton:hover {
    background-color: #b38e5e; }

.hero {
  width: 100%;
  height: calc(100vh - 204px);
  text-align: center;
  background-image: url(../img/slider1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero h1 {
    font-size: 60px;
    color: white;
    padding: 10px; }
  .hero p {
    font-size: 18px;
    color: white; }

.categorias {
  text-align: center;
  margin: 40px 0; }
  .categorias h2 {
    text-align: center;
    padding: 20px;
    margin: 50px;
    font-size: 24px;
    color: #333; }
  .categorias .categorias-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; }
    .categorias .categorias-contenedor div {
      width: 100%;
      max-width: 300px;
      margin: 10px;
      text-align: center;
      padding: 40px;
      box-sizing: border-box; }
      .categorias .categorias-contenedor div img {
        width: 150px;
        height: 150px;
        margin-bottom: 10px; }
      .categorias .categorias-contenedor div p {
        font-size: 15px;
        text-align: center; }

.nosotros1 .contenido .imagen {
  flex: 1;
  margin-left: 20px;
  overflow: hidden; }
  .nosotros1 .contenido .imagen img {
    width: 100%;
    height: auto;
    object-fit: cover; }

.nosotros1 .contenido .texto {
  flex: 1;
  margin-right: 20px; }
  .nosotros1 .contenido .texto h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px; }
  .nosotros1 .contenido .texto p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px; }

/**FONTS*/
/**-----RESET-----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif; }

/**------BOOSTRAP-----*/
header nav img {
  width: 60px;
  height: 60px; }

.home-call-to-action-slider::before {
  background-color: rgba(0, 0, 0, 0.6); }

.home-call-to-action-slider .home-cta-slider-content {
  color: #ffffff; }

.destacados .cards .card {
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; }

.destacados .cards .card .card-content {
  padding: 23px;
  text-align: center; }

.destacados .cards .card img {
  width: 100%;
  height: 330px;
  object-fit: cover; }

.destacados {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
  padding: 40px; }
  .destacados h2 {
    margin-bottom: 30px; }
  .destacados .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 70px; }
    .destacados .cards .card {
      width: calc(25% - 40px);
      margin-bottom: 60px; }
      .destacados .cards .card .card-content h3 {
        font-size: 20px;
        margin: 10px 0;
        padding: 10px; }
      .destacados .cards .card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }

.grid-galeria {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  gap: 15px; }
  .grid-galeria .grid-item {
    position: relative; }
    .grid-galeria .grid-item img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .grid-galeria .grid-item.img-1 {
      grid-row: span 2; }
    .grid-galeria .grid-item.img-5 {
      grid-column: span 2; }
    .grid-galeria .grid-item.img-3 {
      grid-row: span 2; }

.home-call-to-action-slider {
  position: relative;
  height: 600px;
  background-image: url("../img/homeslidercalltoaction.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .home-call-to-action-slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px; }
  .home-call-to-action-slider .home-cta-slider-content {
    position: relative;
    z-index: 1;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    max-width: 600px; }
    .home-call-to-action-slider .home-cta-slider-content .home-cta-slider-text {
      padding: 20px; }
      .home-call-to-action-slider .home-cta-slider-content .home-cta-slider-text h2 {
        font-size: 36px;
        margin-bottom: 10px; }
      .home-call-to-action-slider .home-cta-slider-content .home-cta-slider-text p {
        font-size: 18px;
        margin-bottom: 20px; }

.preguntas-frecuentes {
  margin-top: 150px;
  margin-bottom: 150px;
  padding: 0 20px; }
  .preguntas-frecuentes .accordion-flush {
    margin: 0;
    padding: 0; }
    .preguntas-frecuentes .accordion-flush h2 {
      text-align: center;
      font-size: 28px;
      font-weight: 600;
      color: #333;
      margin-bottom: 20px; }
  .preguntas-frecuentes .accordion .accordion-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden; }
    .preguntas-frecuentes .accordion .accordion-item .accordion-header {
      background-color: #e9ecef;
      border-bottom: 1px solid #ddd;
      border-radius: 5px 5px 0 0;
      padding: 10px 15px; }
      .preguntas-frecuentes .accordion .accordion-item .accordion-header .accordion-button {
        font-weight: bold;
        background-color: #f8f9fa;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px 15px; }
        .preguntas-frecuentes .accordion .accordion-item .accordion-header .accordion-button:focus, .preguntas-frecuentes .accordion .accordion-item .accordion-header .accordion-button.collapsed:focus {
          box-shadow: none;
          background-color: #d1a38a;
          border-color: #d1a38a;
          color: white; }
        .preguntas-frecuentes .accordion .accordion-item .accordion-header .accordion-button:active {
          background-color: #d1a38a;
          border-color: #d1a38a;
          color: white; }
    .preguntas-frecuentes .accordion .accordion-item .accordion-body {
      padding: 15px;
      background-color: #ffffff;
      color: #333;
      font-size: 16px;
      border-top: 1px solid #ddd; }

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  flex-wrap: wrap; }
  .container .item {
    text-align: center;
    max-width: 200px;
    margin: 20px; }
    .container .item img {
      width: 50px;
      height: auto;
      margin-bottom: 10px; }
    .container .item h3 {
      margin: 10px 0 5px 0;
      font-size: 18px; }
    .container .item p {
      margin: 0;
      font-size: 14px;
      color: #000000; }

.fixed {
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 1000; }
  .fixed a {
    display: block; }
    .fixed a img {
      width: 60px;
      height: 60px; }

.nosotros1, .nosotros2 {
  background-color: #f2f2f2;
  padding: 40px 20px; }
  .nosotros1 .contenido, .nosotros2 .contenido {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1400px;
    margin: 20px auto;
    flex-wrap: wrap; }
  .nosotros1 .imagen, .nosotros2 .imagen {
    flex: 1;
    order: 2;
    margin: 0 60px; }
    .nosotros1 .imagen img, .nosotros2 .imagen img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  .nosotros1 .texto, .nosotros2 .texto {
    flex: 1;
    padding: 20px; }
    .nosotros1 .texto h2, .nosotros2 .texto h2 {
      font-size: 28px;
      margin-bottom: 10px;
      color: #000; }
    .nosotros1 .texto p, .nosotros2 .texto p {
      font-size: 16px;
      margin-bottom: 20px;
      color: #555; }
    .nosotros1 .texto .boton, .nosotros2 .texto .boton {
      display: inline-block;
      padding: 10px 20px;
      background-color: #000;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      text-align: center; }
      .nosotros1 .texto .boton:hover, .nosotros2 .texto .boton:hover {
        background-color: #333; }
  .nosotros1.nosotros1 .imagen, .nosotros2.nosotros1 .imagen {
    margin-left: 60px;
    order: 2; }
  .nosotros1.nosotros1 .texto, .nosotros2.nosotros1 .texto {
    order: 1; }
  .nosotros1.nosotros2 .imagen, .nosotros2.nosotros2 .imagen {
    margin-right: 60px;
    order: 1; }
  .nosotros1.nosotros2 .texto, .nosotros2.nosotros2 .texto {
    order: 2; }

.proceso-creativo {
  padding: 40px 20px;
  background-color: #f8f8f8;
  text-align: center; }
  .proceso-creativo h2 {
    font-size: 2rem;
    margin-bottom: 20px; }
  .proceso-creativo .proceso-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; }
    .proceso-creativo .proceso-container .proceso-item {
      flex: 1 1 200px;
      max-width: 300px;
      margin: 10px;
      background-color: #ffffff;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
      .proceso-creativo .proceso-container .proceso-item img {
        width: 100%;
        height: auto;
        border-bottom: 1px solid #ddd;
        border-radius: 8px 8px 0 0; }
      .proceso-creativo .proceso-container .proceso-item p {
        padding: 10px;
        font-size: 1rem;
        color: #333;
        text-align: left;
        margin: 0; }
        .proceso-creativo .proceso-container .proceso-item p strong {
          display: block;
          font-weight: bold; }

/**-----TESTIMONIOS-----*/
.testimonios {
  padding: 60px 20px;
  background-color: #f9f9f9;
  text-align: center; }
  .testimonios h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #333; }
  .testimonios .testimonios-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto; }
  .testimonios .testimonio-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    margin: 10px; }
    .testimonios .testimonio-card .testimonio-img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      object-fit: cover;
      margin-bottom: 15px; }
    .testimonios .testimonio-card h3 {
      font-size: 18px;
      margin-bottom: 10px;
      color: #333; }
    .testimonios .testimonio-card p {
      font-size: 16px;
      color: #666;
      line-height: 1.4; }

.productos {
  padding: 70px;
  margin-top: 10px; }
  .productos h2 {
    text-align: center;
    padding: 5px; }
  .productos p {
    text-align: center;
    font-size: 16px;
    color: #666;
    margin: 10px 0; }
  .productos .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 50px; }
    .productos .cards .card {
      background: #f5f5f5;
      border-radius: 5px;
      overflow: hidden;
      width: calc(25% - 40px);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease; }
      .productos .cards .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }
      .productos .cards .card img {
        width: 100%;
        height: 330px;
        object-fit: cover; }
      .productos .cards .card .card-content {
        padding: 23px;
        text-align: center; }
        .productos .cards .card .card-content h3 {
          font-size: 20px;
          margin: 10px 0;
          padding: 10px; }
        .productos .cards .card .card-content p {
          font-size: 14px;
          color: #333;
          margin-top: 5px; }
        .productos .cards .card .card-content a.boton {
          display: inline-block;
          padding: 10px 20px;
          background-color: #d1a38a;
          color: #ffffff;
          text-decoration: none;
          border-radius: 5px;
          font-weight: bold;
          transition: background-color 0.3s ease; }
          .productos .cards .card .card-content a.boton:hover {
            background-color: #b77f6e; }

.call-to-action-slider {
  position: relative;
  height: 500px;
  background-image: url("../img/calltoaction2.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .call-to-action-slider .cta-slider-content {
    position: relative;
    z-index: 1;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    max-width: 600px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5); }
    .call-to-action-slider .cta-slider-content .cta-slider-text {
      padding: 20px; }
      .call-to-action-slider .cta-slider-content .cta-slider-text h2 {
        font-size: 36px;
        margin-bottom: 10px;
        font-weight: bold; }
      .call-to-action-slider .cta-slider-content .cta-slider-text p {
        font-size: 18px;
        margin-bottom: 20px; }
      .call-to-action-slider .cta-slider-content .cta-slider-text .boton {
        display: inline-block;
        padding: 10px 20px;
        background-color: #d1a38a;
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease; }
        .call-to-action-slider .cta-slider-content .cta-slider-text .boton:hover {
          background-color: #b5806a; }

.slider {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden; }
  .slider .slide {
    position: relative;
    width: 100%;
    height: 100%; }
    .slider .slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(70%); }
    .slider .slide .overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      text-align: center;
      padding: 20px;
      border-radius: 10px; }
      .slider .slide .overlay h2 {
        font-size: 2.5rem;
        margin-bottom: 10px; }
      .slider .slide .overlay p {
        font-size: 1.5rem; }

.workshops {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 50px;
  background-color: #f7f7f7; }
  .workshops .workshop-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 45%;
    max-width: 500px;
    transition: transform 0.3s ease;
    margin-bottom: 20px; }
    .workshops .workshop-card:hover {
      transform: translateY(-10px); }
    .workshops .workshop-card .image {
      width: 100%;
      height: 200px;
      overflow: hidden; }
      .workshops .workshop-card .image img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .workshops .workshop-card .content {
      padding: 20px; }
      .workshops .workshop-card .content .text h2 {
        font-size: 2rem;
        margin-bottom: 10px;
        color: #333; }
      .workshops .workshop-card .content .text h6 {
        font-size: 1rem;
        margin-bottom: 20px;
        color: #777; }
      .workshops .workshop-card .content .text p {
        font-size: 1.1rem;
        line-height: 1.6;
        margin-bottom: 20px;
        color: #555; }
      .workshops .workshop-card .content .text ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 20px; }
        .workshops .workshop-card .content .text ul li {
          font-size: 1rem;
          margin-bottom: 10px;
          color: #444; }

/**-----CAROUSEL-----*/
.carousel.slide .carousel-inner .carousel-item.active img {
  width: 100%;
  height: 400px;
  object-fit: cover; }

/**-----FORMULARIO DE CONTACTO-----*/
.form-image {
  padding: 50px 0; }
  .form-image .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: stretch;
    max-width: 1200px;
    margin: 0 auto; }
    .form-image .grid-container .form-container {
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
      .form-image .grid-container .form-container h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #000; }
      .form-image .grid-container .form-container .form-group {
        margin-bottom: 20px; }
        .form-image .grid-container .form-container .form-group label {
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
          color: #555; }
        .form-image .grid-container .form-container .form-group input,
        .form-image .grid-container .form-container .form-group select,
        .form-image .grid-container .form-container .form-group textarea {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 1rem; }
        .form-image .grid-container .form-container .form-group .form-row {
          display: flex;
          gap: 10px; }
          .form-image .grid-container .form-container .form-group .form-row .col {
            flex: 1; }
      .form-image .grid-container .form-container .button-group {
        display: flex;
        justify-content: space-between; }
        .form-image .grid-container .form-container .button-group .boton {
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          background-color: #007bff;
          color: #fff;
          font-size: 1rem; }
          .form-image .grid-container .form-container .button-group .boton:hover {
            background-color: #0056b3; }
    .form-image .grid-container .image-container {
      overflow: hidden; }
      .form-image .grid-container .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px; }

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  flex-wrap: wrap; }
  .container .item {
    text-align: center;
    max-width: 200px;
    margin: 20px; }
    .container .item img {
      width: 50px;
      height: auto;
      margin-bottom: 10px; }
    .container .item h3 {
      margin: 10px 0 5px 0;
      font-size: 18px; }
    .container .item p {
      margin: 0;
      font-size: 14px;
      color: #000000; }

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px 0; }
  footer .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px; }
    footer .footer-container .footer-logo img {
      max-width: 160px;
      height: auto; }
    footer .footer-container .footer-section {
      flex: 1 1 300px;
      margin: 10px; }
      footer .footer-container .footer-section h3 {
        margin-bottom: 10px;
        font-size: 16px;
        text-transform: uppercase; }
      footer .footer-container .footer-section p {
        font-size: 14px;
        color: #ffffff; }
        footer .footer-container .footer-section p a {
          text-decoration: none; }
      footer .footer-container .footer-section ul {
        list-style: none;
        padding: 0; }
        footer .footer-container .footer-section ul li {
          margin-bottom: 5px; }
          footer .footer-container .footer-section ul li a {
            color: #ffffff;
            text-decoration: none; }
      footer .footer-container .footer-section .social-icons {
        display: flex;
        justify-content: start; }
        footer .footer-container .footer-section .social-icons a {
          margin-right: 10px; }
        footer .footer-container .footer-section .social-icons img {
          width: 24px;
          height: 24px; }
  footer .footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444444;
    font-size: 12px; }
    footer .footer-bottom p a {
      color: #ffffff;
      text-decoration: none; }
      footer .footer-bottom p a:hover {
        text-decoration: underline; }

@media (max-width: 1200px) {
  .card {
    width: calc(50% - 40px); }
  .destacados .card {
    width: calc(33.333% - 40px); }
  .categorias .categorias-contenedor div {
    width: calc(25% - 40px); } }

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr; }
  .image-container img {
    height: auto; }
  .contenido {
    flex-direction: column; }
  .texto, .imagen {
    margin: 0; }
  .imagen {
    margin-top: 20px; } }

@media (max-width: 992px) {
  .destacados .card {
    width: calc(50% - 40px); } }

@media (min-width: 900px) {
  .categorias .categorias-contenedor div {
    width: calc(33.333% - 40px); } }

@media (max-width: 950px) {
  .grid-galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 320px; }
  .grid-item {
    grid-column: span 1;
    grid-row: span 1; } }

@media (max-width: 850px) {
  .serika {
    flex-direction: column; }
  .serika div {
    width: 80%;
    text-align: center; }
  .serika img {
    display: none; } }

@media (max-width: 784px) {
  header {
    flex-direction: column;
    position: static; }
  .hero h2 {
    font-size: 40px; } }

@media (max-width: 768px) {
  .overlay h2 {
    font-size: 2rem; }
  .overlay p {
    font-size: 1.2rem; }
  .form-row {
    flex-direction: column; }
  .card, .workshop-card {
    width: calc(100% - 40px); }
  .container {
    flex-direction: column;
    align-items: center; }
  .item {
    max-width: 100%;
    margin-bottom: 20px; }
  .categorias .categorias-contenedor div {
    width: calc(50% - 40px); }
  .form-container {
    padding: 15px; }
  .form-group input,
  .form-group select,
  .form-group textarea {
    padding: 8px;
    font-size: 0.9rem; }
  .button-group {
    flex-direction: column;
    gap: 10px; }
  .texto h2 {
    font-size: 1.5rem; }
  .texto p {
    font-size: 0.9rem; }
  .boton {
    padding: 8px 16px; } }

@media (min-width: 600px) {
  .categorias .categorias-contenedor div {
    width: 100%; } }

@media (max-width: 504px) {
  header nav ul {
    flex-direction: column; }
  header nav ul li {
    margin: 0;
    text-align: center; }
  header nav ul li a {
    font-size: 16px; }
  .nosotros1 .contenido, .nosotros2 .contenido {
    flex-direction: column; }
  .nosotros1 .imagen,
  .nosotros2 .imagen,
  .nosotros1 .texto,
  .nosotros2 .texto {
    max-width: 100%; } }

@media (max-width: 480px) {
  .overlay h2 {
    font-size: 1.5rem; }
  .overlay p {
    font-size: 1rem; }
  .form-container h2 {
    font-size: 1.5rem; }
  .form-group label {
    font-size: 0.9rem; }
  .form-group input,
  .form-group select,
  .form-group textarea {
    font-size: 0.8rem; }
  .button-group {
    flex-direction: column;
    gap: 10px; }
  .button-group input {
    width: 100%; }
  .texto h2 {
    font-size: 1.2rem; }
  .texto p {
    font-size: 0.8rem; }
  .boton {
    padding: 6px 12px; } }

@media (max-width: 400px) {
  .hero h2 {
    padding: 5px;
    font-size: 35px; } }

@media (max-width: 480px) {
  .grid-galeria {
    grid-template-columns: 1fr; }
  .grid-item {
    grid-column: span 1;
    grid-row: span 1; } }
