/**FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
/**-----RESET-----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif; }

/**------BOOSTRAP-----*/
header nav img {
  width: 60px;
  height: 60px; }

/* BOTON */
.boton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; }

.boton:hover {
  background-color: #b38e5e; }

.hero {
  width: 100%;
  height: calc(100vh - 204px);
  text-align: center;
  background-image: url(../img/slider1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero h2 {
    font-size: 35px;
    color: white;
    padding: 10px; }
  .hero p {
    font-size: 18px;
    color: white; }

/* Media Queries */
@media (max-width: 1200px) {
  .card {
    width: calc(50% - 40px); }
  .destacados .card {
    width: calc(33.333% - 40px); }
  .categorias .categorias-contenedor div {
    width: calc(25% - 40px); } }

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr; }
  .image-container img {
    height: auto; }
  .contenido {
    flex-direction: column; }
  .texto, .imagen {
    margin: 0; }
  .imagen {
    margin-top: 20px; } }

@media (max-width: 992px) {
  .destacados .card {
    width: calc(50% - 40px); } }

@media (min-width: 900px) {
  .categorias .categorias-contenedor div {
    width: calc(33.333% - 40px); } }

@media screen and (max-width: 950px) {
  .grid-galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 320px; }
  .grid-item {
    grid-column: span 1;
    grid-row: span 1; } }

@media screen and (max-width: 850px) {
  .serika {
    flex-direction: column; }
  .serika div {
    width: 80%;
    text-align: center; }
  .serika img {
    display: none; } }

@media screen and (max-width: 784px) {
  header {
    flex-direction: column;
    position: static; }
  .hero h2 {
    font-size: 40px; } }

@media (max-width: 768px) {
  .overlay h2 {
    font-size: 2rem; }
  .overlay p {
    font-size: 1.2rem; }
  .form-row {
    flex-direction: column; }
  .card, .workshop-card {
    width: calc(100% - 40px); }
  .container {
    flex-direction: column;
    align-items: center; }
  .item {
    max-width: 100%;
    margin-bottom: 20px; }
  .categorias .categorias-contenedor div {
    width: calc(50% - 40px); }
  .form-container {
    padding: 15px; }
  .form-group input,
  .form-group select,
  .form-group textarea {
    padding: 8px;
    font-size: 0.9rem; }
  .button-group {
    flex-direction: column;
    gap: 10px; }
  .texto h2 {
    font-size: 1.5rem; }
  .texto p {
    font-size: 0.9rem; }
  .boton {
    padding: 8px 16px; } }

@media (min-width: 600px) {
  .categorias .categorias-contenedor div {
    width: 100%; } }

@media screen and (max-width: 504px) {
  header nav ul {
    flex-direction: column; }
  header nav ul li {
    margin: 0;
    text-align: center; }
  header nav ul li a {
    font-size: 16px; }
  .nosotros1 .contenido,
  .nosotros2 .contenido {
    flex-direction: column; }
  .nosotros1 .imagen,
  .nosotros2 .imagen,
  .nosotros1 .texto,
  .nosotros2 .texto {
    max-width: 100%; } }

@media (max-width: 480px) {
  .overlay h2 {
    font-size: 1.5rem; }
  .overlay p {
    font-size: 1rem; }
  .form-container h2 {
    font-size: 1.5rem; }
  .form-group label {
    font-size: 0.9rem; }
  .form-group input,
  .form-group select,
  .form-group textarea {
    font-size: 0.8rem; }
  .button-group {
    flex-direction: column;
    gap: 10px; }
  .button-group input {
    width: 100%; }
  .texto h2 {
    font-size: 1.2rem; }
  .texto p {
    font-size: 0.8rem; }
  .boton {
    padding: 6px 12px; } }

@media screen and (max-width: 400px) {
  .hero h2 {
    padding: 5px;
    font-size: 35px; } }

@media screen and (max-width: 480px) {
  .grid-galeria {
    grid-template-columns: 1fr; }
  .grid-item {
    grid-column: span 1;
    grid-row: span 1; } }
