/**FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');


/**-----RESET-----*/ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;;
}

/**------HEADER-----*/
header nav img {
    width:60px;
    height: 60px;
}

/* BOTON */

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #b38e5e;
}

/**-----INDEX-----*/

.hero {
    width: 100%;
    height: calc(100vh - 204px);
    text-align: center;
    background-image:url(../img/slider1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    font-size:35px;
    color: white;
    padding: 10px;
}

.hero p {
    font-size: 18px;
    color:white;
}

.categorias {
    text-align: center;
    margin: 40px 0;
}

.categorias h2 {
    text-align: center;
    padding: 20px;
    margin: 50px;
    font-size: 24px;
    color: #333;
}

.categorias-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.categorias .categorias-contenedor div {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
}

.categorias div img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.categorias div p {
    font-size: 15px;
    text-align: center;
}

.nosotros1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.contenido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;

}

.imagen {
    flex: 1;
    margin-left: 20px;
    overflow: hidden;
}

.imagen img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.texto {
    flex: 1;
    margin-right: 20px;
}

.texto h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.texto p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.destacados {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
    padding: 40px;
}

.destacados h2 {
    margin-bottom: 30px;
}

.destacados .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 70px;
}

.destacados .card {
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    width: calc(25% - 40px); 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 60px;
}

.destacados .card img {
    width: 100%;
    height: 330px; 
    object-fit: cover;
}

.destacados .card-content {
    padding: 23px;
    text-align: center;
}

.destacados .card-content h3 {
    font-size: 20px;
    margin: 10px 0;
    padding: 10px;
}
.preguntas-frecuentes {
    margin-top: 150px; 
    margin-bottom: 150px; 
}

.grid-galeria{
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    gap: 15px;
}

.grid-item {
    position: relative;
}

.grid-galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-1 {
    grid-row: span 2;
}

.img-5 {
    grid-column: span 2;
}

.img-3 {
    grid-row: span 2;
}

/* Slider de Llamado a la Acción Index */
.home-call-to-action-slider {
    position: relative;
    height: 600px; 
    background-image: url('../img/homeslidercalltoaction.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-call-to-action-slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 5px;
}

.home-cta-slider-content {
    position: relative;
    z-index: 1; 
    padding: 20px;
    text-align: center;
    color: #ffffff; 
    max-width: 600px; 
}

.home-cta-slider-text {
    padding: 20px;
}

.home-cta-slider-text h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.home-cta-slider-text p {
    font-size: 18px;
    margin-bottom: 20px;
}



/**-----BOTON WHATSAPP-----*/

.fixed {
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 1000; 
}

.fixed img {
    width: 60px;
    height: 60px;
}



/**-----call to action-----*/

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    flex-wrap: wrap;
}

.item {
    text-align: center;
    max-width: 200px;
    margin: 20px;
}

.item img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.item h3 {
    margin: 10px 0 5px 0;
    font-size: 18px;
}

.item p {
    margin: 0;
    font-size: 14px;
    color: #000000;
}

/**-----PRODUCTOS-----*/


.slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.titulo-principal {
    text-align: center;
    margin-top: 80px;
}

.productos {
    padding: 70px;
    margin-top: 10px;
}

.productos h2, .productos p {
    text-align: center;
    padding: 5px;
    
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.card {
    background: #f5f5f5;
    border-radius: 5px;
    overflow: hidden;
    width: calc(25% - 40px); 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 330px; 
    object-fit: cover;
}

.card-content {
    padding: 23px; 
    text-align: center;
}

.card-content h3 {
    font-size: 20px;
    margin: 10px 0;
    padding: 10px;
}

.call-to-action-slider {
    position: relative;
    height: 500px; 
    background-image: url('../img/calltoaction2.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 14, 14, 0.432); 
    border-radius: 5px;
}

.cta-slider-content {
    position: relative;
    z-index: 1; 
    padding: 20px;
    text-align: center;
    color: #ffffff; 
    max-width: 600px; 
}
.cta-slider-content {
    padding: 20px;
    border-radius: 5px;
    max-width: 600px; 
}

.cta-slider-text {
    padding: 20px;
}

.cta-slider-text h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.cta-slider-text p {
    font-size: 18px;
    margin-bottom: 20px;
}


/**-----NOSOTROSS-----*/

/* Sección */

.nosotros1 {
    background-color: #f2f2f2;
    padding: 40px 20px;
}

.nosotros1 .contenido {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1400px; 
    margin: 20px auto; 
    flex-wrap: wrap;
}

.nosotros1 .imagen {
    flex: 1;
    margin-left: 60px; 
    order: 2; 
}

.nosotros1 .texto {
    flex: 1;
    order: 1; 
}

.nosotros1 .imagen img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.nosotros2 {
    background-color: #f2f2f2;
    padding: 40px 20px;
}

.nosotros2 .contenido {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1400px; 
    margin: 20px auto; 
    flex-wrap: wrap; 
}

.nosotros2 .imagen {
    flex: 1;
    margin-right: 60px; 
}

.nosotros2 .texto {
    flex: 1;
}

.nosotros2 .imagen img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/**-----WORKSHOPS-----*/

.slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slide {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%); 
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.overlay h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 1.5rem;
}

.workshops {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 50px;
    background-color: #f7f7f7;
}

.workshop-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 45%;
    max-width: 500px;
    transition: transform 0.3s ease;
    margin-bottom: 20px; 
}

.workshop-card:hover {
    transform: translateY(-10px);
}

.workshop-card .image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.workshop-card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.workshop-card .content {
    padding: 20px;
}

.workshop-card .text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.workshop-card .text h6 {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #777;
}

.workshop-card .text p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555;
}

.workshop-card .text ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.workshop-card .text ul li {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #444;
}

/**-----CONTACTO-----*/

.carousel-item  img {
    width: 100%;
    height: 400px;
} 

.form-image {
    padding: 50px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 60px; 
    align-items: stretch; 
    max-width: 1200px;
    margin: 0 auto;
}

.form-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.image-container {
    overflow: hidden; 
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
}

.form-row {
    display: flex;
    gap: 10px;
}

.form-row .col {
    flex: 1;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.form-row .col {
    flex: 1;
}

/**-----FOTTER-----*/

footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section {
    flex: 1 1 300px; 
    margin: 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
}

.footer-section p, .footer-section a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.social-icons {
    display: flex;
    justify-content: start;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444444;
    font-size: 12px;
}

.footer-bottom a {
    color: #ffffff;
    text-decoration: none;
}

.logo {
    width: 160px;
    height: 160px;
    justify-content: left;
}

/**-----Responsive-----*/ 
/* Media Queries */

@media (max-width: 1200px) {
    .card {
        width: calc(50% - 40px);
    }
    .destacados .card {
        width: calc(33.333% - 40px);
    }
    .categorias .categorias-contenedor div {
        width: calc(25% - 40px); 
    }
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }

    .image-container img {
        height: auto; 
    }
    .contenido {
        flex-direction: column;
    }

    .texto, .imagen {
        margin: 0;
    }
    
    .imagen {
        margin-top: 20px;
    }
}

@media (max-width: 992px) {
    .destacados .card {
        width: calc(50% - 40px); 
    }
}

@media (min-width: 900px) {
    .categorias .categorias-contenedor div {
        width: calc(33.333% - 40px); 
    }
}

@media screen and (max-width:950px) {
    .grid-galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 320px;
    }
    .grid-item {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media screen and (max-width:850px) {
    .serika {
        flex-direction: column;
    }
    .serika div {
        width: 80%;
        text-align: center;
    }
    .serika img {
        display: none;
    }
}

@media screen and (max-width:784px) {
    header {
        flex-direction: column;
        position: static;
    }
    .hero h2 {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .overlay h2 {
        font-size: 2rem;
    }
    .overlay p {
        font-size: 1.2rem;
    }
    .form-row {
        flex-direction: column; 
    }
    .card {
        width: calc(100% - 40px);
    }
    .workshop-card {
        width: 100%;
    }
    .destacados .card {
        width: calc(100% - 40px); 
    }
    .container {
        flex-direction: column; 
        align-items: center;
    }
    .item {
        max-width: 100%; 
        margin-bottom: 20px; 
    }
    .categorias .categorias-contenedor div {
        width: calc(50% - 40px); 
    }
    .form-container {
        padding: 15px;
    }
    .form-group input,
    .form-group select,
    .form-group textarea {
        padding: 8px;
        font-size: 0.9rem;
    }
    .button-group {
        flex-direction: column;
        gap: 10px;
    }
    .texto h2 {
        font-size: 1.5rem;
    }

    .texto p {
        font-size: 0.9rem;
    }

    .boton {
        padding: 8px 16px;
    }
}

@media (min-width: 600px) {
    .categorias .categorias-contenedor div {
        width: 100%; 
    }
}

@media screen and (max-width:504px) {
    header nav ul {
        flex-direction: column;
    }
    header nav ul li {
        margin: 0;
        text-align: center;
    }
    header nav ul li a {
        font-size: 16px;
    }
    .nosotros1 .contenido, 
    .nosotros2 .contenido {
        flex-direction: column;
    }
    .nosotros1 .imagen,
    .nosotros2 .imagen,
    .nosotros1 .texto,
    .nosotros2 .texto {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .overlay h2 {
        font-size: 1.5rem;
    }
    .overlay p {
        font-size: 1rem;
    }
    .form-container h2 {
        font-size: 1.5rem;
    }

    .form-group label {
        font-size: 0.9rem;
    }

    .form-group input,
    .form-group select,
    .form-group textarea {
        font-size: 0.8rem;
    }

    .button-group {
        flex-direction: column;
        gap: 10px;
    }

    .button-group input {
        width: 100%;
    }
    .texto h2 {
        font-size: 1.2rem;
    }

    .texto p {
        font-size: 0.8rem;
    }

    .boton {
        padding: 6px 12px;
    }
}

@media screen and (max-width:400px) {
    .hero h2 {
        padding: 5px;
        font-size: 35px;
    } 
}

@media screen and (max-width:480px) {
    .grid-galeria {
        grid-template-columns: 1fr;
    }
    .grid-item {
        grid-column: span 1;
        grid-row: span 1;
    }
}