.nosotros1, .nosotros2 {
    background-color: #f2f2f2;
    padding: 40px 20px;
    .contenido {
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 1400px;
        margin: 20px auto;
        flex-wrap: wrap;
    }
    .imagen {
        flex: 1;
        order: 2;
        margin: 0 60px; 
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    }
    .texto {
        flex: 1;
        padding: 20px;
        h2 {
            font-size: 28px;
            margin-bottom: 10px;
            color: #000;
        }
        p {
            font-size: 16px;
            margin-bottom: 20px;
            color: #555;
        }
        .boton {
            display: inline-block;
            padding: 10px 20px;
            background-color: #000;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            text-align: center;
            &:hover {
                background-color: #333;
            }
        }
    }

    &.nosotros1 {
        .imagen {
            margin-left: 60px;
            order: 2;
        }

        .texto {
            order: 1;
        }
    }

    &.nosotros2 {
        .imagen {
            margin-right: 60px;
            order: 1;
        }

        .texto {
            order: 2;
        }
    }
}

.proceso-creativo {
    text-align: center;
    margin: 40px 0; 
    h2 {
        font-size: 2rem; 
        margin-bottom: 20px;
    }
    .proceso-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px; 
        .proceso-item {
            flex: 1 1 calc(20% - 20px); 
            max-width: 20%; 
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
            img {
                width: 100%;
                height: auto; 
                border-radius: 8px; 
                margin-bottom: 10px;
            }
            p {
                font-size: 0.9rem; 
                line-height: 1.4; 
            }
        }
    }
}


/**-----TESTIMONIOS-----*/

.testimonios {
    padding: 60px 20px;
    background-color: #f9f9f9;
    text-align: center;
    h2 {
        font-size: 32px;
        margin-bottom: 30px;
        color: #333;
    }
    .testimonios-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        max-width: 1200px;
        margin: 0 auto;
    }
    .testimonio-card {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 300px;
        text-align: center;
        margin: 10px;
        .testimonio-img {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            object-fit: cover;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 18px;
            margin-bottom: 10px;
            color: #333;
        }
        p {
            font-size: 16px;
            color: #666;
            line-height: 1.4;
        }
    }
}
