/**FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/**-----RESET-----*/ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;;
}

/**------BOOSTRAP-----*/

header nav img {
    width:60px;
    height: 60px;
}

/* BOTON */

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.boton:hover {
    background-color: #b38e5e;
}

// Variables 

$overlay-color: rgba(0, 0, 0, 0.6);
$text-color: #ffffff;

.home-call-to-action-slider {
    // ...
    &::before {
        background-color: $overlay-color;
    }
    .home-cta-slider-content {
        color: $text-color;
        // ...
    }
}
